.DenunciaDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 900px;
    margin-bottom: 15px;
    min-height: 50px;
    border-left: black solid 2px;
    &__Titulo{
        width: 250px;
    }
    &__Denunciante{
        width: 100px;
     }
    button{
        height: 30px;
        border: 0px;
        width: 100px;
    }
}

.listContainer{
    border: black solid 2px;
    height: auto;
    min-height: 300px;
    background-color: rgb(129, 142, 216);
    margin-bottom: 15px;
    width: 900px;
    box-sizing: border-box;
    padding-top: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}