<h1>Denuncia nº {{denunciaSelected.ID}} </h1>
<div class="denunciaPanel">
    <div>Titulo: {{denunciaSelected.Titulo}} </div>
    <div>Fecha: {{denunciaSelected.Fecha}}</div>
    <div>Denunciante: {{denunciaSelected.Denunciante}}</div>
    <div>Prioridad:{{denunciaSelected.Prioridad}} </div>
    <div>Ciberdelito:{{denunciaSelected.Ciberdelito}}</div>
    <div class="denunciaPanel__declarationText">
        <div>Declaracion:</div>
        <div class="denunciaPanel__declarationText__declaracion">{{denunciaSelected.Declaracion}}</div>        
    </div>

</div>
