.headTitle{
	margin-bottom: 2%;
}

.zaragozaPolice{
	background-color: #E81B16 !important;
	display: block;
    text-align:center;
	.headTitle{
		color:white;
	}
	h1{
		font-size: 70px;
	}
}

.headIcon{
	heigh: 100px;
	width: 100px;
}
