.zaragozaReportList{
	margin-top: 50px;
}

.reportList{
	padding: 1% 5% 5% 5%;
}

.addNewReport{
	padding-bottom: 2%;
}

.zaragozaReportList--headTable{
	background-color: #E81B16;
	border-color:black;
}


