<section>
	<div class="zaragozaReportList">
	<div class="card container bg-light col-md-8 col-md-offset-4">
		<h2>Denuncias registradas</h2>
		<ul class="reportList list-group col-12 row">
		  <li class="zaragozaReportList--headTable list-group-item active col-12 row">
		  	<div class="col row font-weight-bold">
		  		<div class="d-flex flex-row col-8">
		  			<span class="col-6 ">Titulo</span>
		  			<span class="col-6">Denunciante</span>
		  		</div>
		  		<div class="d-flex justify-content-between col-4">
		  			<span class="col-12">
		  				<i class="fa fa-cogs" aria-hidden="true"></i>
		  				&nbsp; &nbsp; Opciones
		  			</span>
		  		</div>
		  	</div>
		  </li>
		  <li class="list-group-item list-group-item-action col-12 row " *ngFor="let report of reports; index as i" routerLink="/list/{{i+1}}">
		  		<div class="col row" >
			  		<div class="d-flex flex-row col-8" >
						<span class="col-6">{{report.title}}</span>  
						<span class="col-6">{{report.codDenunciante}} </span>
					</div>
					<div class="d-flex justify-content-between col-4">
						<button type="button" class="btn btn-primary  text-center" (click)="clickHandlerEdit(reports[i].id)" routerLink="/add/{{reports[i].id}}" >
							<i class="fa fa-pencil"></i>
							Editar
						</button>
						<button type="button" class="btn btn-warning text-center" (click)="clickHandlerRemove(reports[i])" >
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							Eliminar
						</button>
					</div>
				</div>
		  </li>
		</ul>
		<div class="addNewReport">
			<button type="button" class="btn btn-primary col-4"  routerLink="/add">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Registrar nueva denuncia
			</button>
		</div>
	</div>
</div>
</section>



<!--
<section>
	<h2 class="reportTitle">Denuncias registradas</h2>
	<div class="reportBoard" *ngFor="let report of reports; index as i">
		<div class="reportBoard__content" routerLink="/list/{{i+1}}" (click)="clickHandler(reports[i])">
			<div class="reportBoard__element" >
				<p>Titulo: {{report.title}}</p>
			</div>
			<div class="reportBoard__element">
				<p>Denunciante: {{report.codDenunciante}}</p>
			</div>
		</div>
		<div class="reportBoard__buttons">
			<div class="reportBoard__element">
				<div class="reportBoard__element__button" (click)="clickHandlerEdit(reports[i])" routerLink="/add/{{reports[i].id}}" >Editar</div>
			</div>
			<div class="reportBoard__element">
				<div class="reportBoard__element__button"  (click)="clickHandlerRemove(reports[i])" >Archivar</div>
			</div>
		</div>
	</div>

	<button class="newReportButton" routerLink="/add">Registrar Denuncia</button>
</section>
-->