div{
    background-color: lightblue;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type="button"]{
    background-color: linen;
    border-radius: 35%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.separacion{
    width: 80%;
   padding-left: 16px;
   padding-bottom: 6px;
    background-color:lightskyblue; 
    margin-bottom: 3%;
}