.board{
    width: 400px;
    margin: 5% auto;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    img{
        align-self: flex-end;
        width: 25px;
        height: 25px;
    }
}

h1{
    margin: 3% auto;
    font-family: 'Roboto';
}

p{
    margin: 5px 0;
    font-family: 'Roboto';
}