.sectionList{
    background-color: #D3D3D3;
    width: 70vw;
    display: flex;
    padding: 8px;
    &__name{
        width: 200px;
    }
    &__code{
        width: 200px;
    }
    &__button{
        background-color: whitesmoke;
        border: 0;
        width: 80px;
        margin-left: 15px;
    }
}