<br>

<div class="mainSection"> 
    <h1 class="mainSection__mainTitle"> Denuncia nº{{id}}</h1>
    <div class="mainSection__data"> 
        <p class="mainSection__data__title"> Nombre: {{selectedComplaint.name}}</p>
        <p class="mainSection__data__date">Fecha: {{selectedComplaint.date}}</p>
        <p class="mainSection__data__id">Denunciante: {{selectedComplaint.id}}</p>
        <p class="mainSection__data__priority">Prioridad: {{selectedComplaint.priority}}</p>
        <p class="mainSection__data__cibercrime">Ciberdelito: {{selectedComplaint.cibercrime}}</p>
        <p class="mainSection__data__declaration">Decalración: {{selectedComplaint.declaration}}</p>
    </div>
</div>
