
.board{
    background-color: rgb(187, 187, 241);
    width: 800px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-width: 1px 0px;
    
}

.complaint{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid black;
    border-width: 1px 0px 1px 0px;
    cursor: pointer;

    &>div:first-child{
        width: 200px;
    }

    &:hover{
        background-color: rgb(218, 218, 248);
    }
}


button{
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    height: 30px;
    margin: 0px 5px;
    cursor: pointer;
}

#newComplaintBtn{
    background-color: #fff;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(18, 18, 92);
    outline: 0;
}
@media  only screen and (max-width: 850px){
    .board{
        width: 100%;
    }
}