<h3>Denucia nº {{complaint.number}}</h3>
<br>
<div class="complaintDetail">
    <p class="complaintDetail__info">Título: {{complaint.name}}</p>
    <p class="complaintDetail__info">Fecha: {{complaint.date}}</p>
    <p class="complaintDetail__info">Denunciante: {{complaint.code}}</p>
    <p class="complaintDetail__info">Prioridad: {{complaint.priority}}</p>
    <p class="complaintDetail__info">Ciberdelito: {{complaint.type}}</p>
    <p>Declaración</p>
    <div>{{complaint.declaration}}</div>
</div>