@import './commonStyles.scss';

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(241, 236, 236, 0.5), rgba(241, 236, 236, 0.5)), url('./assets/img/fondoPolicia.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;  
}

.appComponent {
    width: 100vw;
}
