/* You can add global styles to this file, and also import other style files */
.btn-primary{
	background-color: #E81B16;
	color:white;
	border-color:white;
}

.btn-primary:hover{
	background-color: white;
	color: #E81B16;
	border-color:#E81B16;
}
