<main class="container">
        
    <h2 class="subtitle">Denuncias registradas</h2>

    <section *ngIf="complaintList != undefined"  class="complaintBox">
        <div *ngFor="let elem of complaintList, index as i" class="complaint">
            <div class="complaint__title">{{elem.title}}</div>
            <div class="complaint__date">Denunciante: {{elem.date}}</div>
            <div class="complaint__btnBox">
                <div class="btn" routerLink="/detail/{{i}}">Ver</div>
                <div class="btn" routerLink="/edit/{{i}}">Editar</div>
                <div (click)="delete(i)" class="btn">Archivar</div>
            </div>
        </div>
    </section>

    <section class="btnBox">
        <div class="regBtn btn" routerLink="/add">Registrar nuevo delito</div>
    </section>
    
</main>



