
<div class="report">
    <div class="report__detail">
        <div class="report__detail--title">
            <p>Título:</p> 
            <p>{{selectedReport.title}}</p>
        </div>
        <div class="report__detail--date">
            <p>Fecha:</p> 
            <p>{{selectedReport.date}}</p>
        </div>
        <div class="report__detail--date">
            <p>Denunciante:</p> 
            <p>{{selectedReport.complainant}}</p>
        </div>
        <div class="report__detail--date">
            <p>Prioridad:</p> 
            <p>{{selectedReport.priority}}</p>
        </div>
        <div class="report__detail--date">
            <p>Ciberdelito:</p> 
            <p>{{selectedReport.cibercrime}}</p>
        </div>
    </div>
    <div class="report__declaration">
        <div class="report__declaration--title">
            <p>Declaración:</p> 
        </div>
        <div class="report__declaration--text">
            <p>{{selectedReport.declaration}}</p>
        </div>
    </div>
</div>
